<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Note</title>
    <!-- Bootstrap Core CSS-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS-->
    <link href="../stylesheets/shop-homepage.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
    <!-- WARNING: Respond.js doesn't work if you view the page via file://-->
    <!--if lt IE 9
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    -->
    <style>
      .container {
        margin-left:10%;
      }
      .ang_gimodak {
        margin-top:10px;
      }
      .ang_gimoddi {
        margin-top:60px;
      }
    </style>
  </head>
  <body>
    <!-- Navigation-->
    <nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display-->
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="./" class="navbar-brand">My Note</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling-->
        <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Login</a></li>
            <li><a href="#">Register </a></li>
            <li class="ang_gimodak">
              <div class="search">
                <input type="text" maxlength="64" placeholder="Search" class="form-control input-sm">
              </div>
            </li>
            <li class="ang_gimodak">
              <button type="submit" class="btn btn-primary btn-sm">Search</button>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse-->
      </div>
      <!-- /.container-->
    </nav>
    <!-- Page Content-->
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <p class="lead">Menu</p>
          <div class="list-group">
            <a href="./" class="list-group-item">Note</a>
            <a href="/calendar" class="list-group-item">Calendar</a>
            <a href="/schedule" class="list-group-item">Schedule</a>
            <a href="/new" class="list-group-item">New</a>
          </div>
        </div>
        <div class="col-md-9 ang_gimoddi">
          <div class="row">
        
          </div>
        </div>
      </div>
    </div>
    <!-- /.container-->
    <div class="container">
      <hr>
      <!-- Footer-->
      <footer>
        <div class="row">
          <div class="col-lg-12">
            <p>Copyright © 서현범 2017</p>
          </div>
        </div>
      </footer>
    </div>
    <!-- /.container-->
    <!-- jQuery-->
    <script src="../javascripts/jquery.js"></script>
    <!-- Bootstrap Core JavaScript-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html>