doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Note
    // Bootstrap Core CSS
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css", rel='stylesheet')
    // Custom CSS
    //- link(href='../stylesheets/shop-homepage.css', rel='stylesheet')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    style.
      .container {
        margin-left:10%;
      }
      .ang_gimodak {
        margin-top:10px;
      }
      .ang_gimoddi {
        margin-top:60px;
      }
      .ang_gimoo {
        font-weight:bold;
        width: 50px;
        float: left;
      }
      #title,#body {
        width:86.5%;
      }
      fieldset ul {
        list-style-type:none;
      }
      .centered {
        text-align:right;
      }
      /*!
        * Start Bootstrap - Shop Homepage (http://startbootstrap.com/)
        * Copyright 2013-2016 Start Bootstrap
        * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
        */

        body {
            padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
        }

        .slide-image {
            width: 100%;
        }

        .carousel-holder {
            margin-bottom: 30px;
        }

        .carousel-control,
        .item {
            border-radius: 4px;
        }

        .caption {
            height: 130px;
            overflow: hidden;
        }

        .caption h4 {
            white-space: nowrap;
        }

        .thumbnail img {
            width: 100%;
        }

        .ratings {
            padding-right: 10px;
            padding-left: 10px;
            color: #d17581;
        }

        .thumbnail {
            padding: 0;
        }

        .thumbnail .caption-full {
            padding: 9px;
            color: #333;
        }

        footer {
            margin: 50px 0;
        }
  body
    // Navigation
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/main') My Note
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='#') Login
            li
              a(href='#') Register 

        // /.navbar-collapse
      // /.container
    // Page Content
    .container
      .row
        .col-md-3
          p.lead Menu
          .list-group
            a.list-group-item(href='/note') Note
            a.list-group-item(href='/new') New
            a.list-group-item(href='/calendar') Calendar
            a.list-group-item(href='/schedule') Schedule
            a.list-group-item(href='/weather') Weather
            a.list-group-item(href='/map') Map
            a.list-group-item(href='/translator') Translator
            a.list-group-item(href='/calculator') Calculator
            a.list-group-item(href='/game') Game
        .col-md-9.ang_gimoddi
          .row
            form(action='/translate', method='get', autocomplete='off')
              fieldset
                legend 번역
                ul
                  li
                    label.ang_gimoo(for='title') 한국어
                    textarea#title(name='title',rows='10', type='text', placeholder='마침표나 물음표 등 문장 부호까지 정확히 넣으시면, 번역 결과가 더 정확해 집니다.', maxlength='200')
                  br
                  li
                    label.ang_gimoo(for='body') 영어
                    textarea#body(name='body', rows='10', disabled)=result
                  .centered
                    input(type='submit', value="번역")
    // /.container
    .container
      hr
      // Footer
      footer
        .row
          .col-lg-12
            p Copyright © 서현범 2017
            #google_translate_element
    // /.container

    script(type='text/javascript').
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'ko', includedLanguages: 'en,ko', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
      }
    script(type='text/javascript', src='//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit')

    // jQuery
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    // Bootstrap Core JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
